*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Tahoma;
}

body{

background:#f4f7fa;

}



/* TOPBAR */

.topbar{

background:linear-gradient(
90deg,
#5cc4c6,
#2f5672
);

color:white;

padding:20px 8%;

display:flex;
justify-content:space-between;
align-items:center;

}


.back{

color:white;
text-decoration:none;
font-weight:bold;

}



/* LAYOUT */

.container{

display:flex;

height:calc(100vh - 80px);

}



/* SIDEBAR */

.sidebar{

width:250px;

background:white;

border-left:1px solid #ddd;

display:flex;
flex-direction:column;

padding:20px;

gap:10px;

}

.sidebar button{

padding:12px;

border:none;

background:#f1f1f1;

cursor:pointer;

border-radius:8px;

font-weight:bold;

}

.sidebar button:hover{

background:#5cc4c6;
color:white;

}



/* CONTENT */

.content{

flex:1;

padding:40px;

}



/* SECTIONS */

.section{

display:none;

background:white;

padding:25px;

border-radius:10px;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

}

.section.active{

display:block;

}

.section h2{

margin-bottom:20px;

}



/* INPUTS */

input{

width:100%;

padding:10px;

margin-bottom:15px;

border-radius:8px;

border:1px solid #ccc;

}



/* BUTTONS */

.save{

background:#5cc4c6;

color:white;

padding:10px 20px;

border:none;

border-radius:8px;

cursor:pointer;

}

.support-btn{

display:inline-block;

background:#2f5672;

color:white;

padding:10px 20px;

text-decoration:none;

border-radius:8px;

}

.danger{

background:red;

color:white;

border:none;

padding:10px 20px;

border-radius:8px;

cursor:pointer;

}



/* TOGGLE */

.switch{

position:relative;

display:inline-block;

width:50px;

height:24px;

}

.switch input{

opacity:0;

}

.slider{

position:absolute;

cursor:pointer;

background:#ccc;

border-radius:24px;

top:0;
left:0;
right:0;
bottom:0;

}

.slider:before{

content:"";

position:absolute;

height:18px;
width:18px;

left:3px;
bottom:3px;

background:white;

border-radius:50%;

transition:.3s;

}

input:checked + .slider{

background:#5cc4c6;

}

input:checked + .slider:before{

transform:translateX(26px);

}